@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen;

    /* font style */
    --mainfont: 'Titillium Web', sans-serif;
}
body {
    scroll-behavior: smooth;
}
/* page element [ flex container ] */
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    font-family: var(--mainfont);
}
/* root element [ grid container ] */
#root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    margin: var(--sm);
    width: 100%;
    
}
/* card component  [ flex element, grid child element ]*/
.card {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: var(--md);
    border-radius: 10px;    
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    background-color: #EEE;
    
}
.card img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    max-height: 180px;
    max-width: 180px;
    border-radius: 50%;
    background: #FFF;
    padding: var(--sm);
}
.card ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
}
.card li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    width: 100%;
}

/* pokemon detail classes */
.pokemonNumber {
    background: #FFF;
    border-radius: 10%;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.6;
    height: 100%;
    padding: var(--sm);
}
.pokemonName {
    letter-spacing: 1px;
    text-decoration: underline;
}
.pokemonType {
    font-size: 1.1rem;
    line-height: 1.6;
    text-transform: capitalize;
}

/* media [ tablet,  screen reader, laptop & desktop ] */
@media screen and (min-width: 700px) {
    #root {
        grid-template-columns: repeat(3, 1fr);

        margin: var(--lg);
        max-width: 1920px;
    }
    .card {
        grid-column: span 1;
    }
}



